In [2]:
import pandas as pd
balance_sheet_url = 'https://nccs-data.urban.org/dl.php?f=digitizeddata/digdata.balsht2005b.csv'
functional_expenses_url = 'https://nccs-data.urban.org/dl.php?f=digitizeddata/digdata.fnctexp2005b.csv'

balance_sheet = pd.read_csv(balance_sheet_url)
functional_expenses = pd.read_csv(functional_expenses_url)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (75,78,79,80,81,82,83,84,85,86,87,88,89,90,91,98,107,114,118,124) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (103,113,114,116,117,118,120,123,124,127,128,129,130,133,134,135,136,137,138,139,140,141,142,143,146,147,153,163,172,178) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
income_activities_url = 'https://nccs-data.urban.org/dl.php?f=digitizeddata/digdata.incprod2005b.csv'
officers_url = 'https://nccs-data.urban.org/dl.php?f=digitizeddata/digdata.officers2005b.csv'

income_activities = pd.read_csv(income_activities_url)
officers = pd.read_csv(officers_url)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,11,34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
programs_url = 'https://nccs-data.urban.org/dl.php?f=digitizeddata/digdata.psd2005b.csv'
revenue_expenses_url = 'https://nccs-data.urban.org/dl.php?f=digitizeddata/digdata.revexp2005b.csv'
a_employees_url = 'https://nccs-data.urban.org/dl.php?f=digitizeddata/digdata.sched_a2005b.csv'

programs = pd.read_csv(programs_url)
revenue_expenses = pd.read_csv(revenue_expenses_url)
a_employees = pd.read_csv(a_employees_url)

In [3]:
balance_sheet.head()

   FIN_ID  P4B_CASH  P4E_CASH  ...  Confidence2007a  nteeFinal  nteeFinal1
0 -214188         0         0  ...                A      V1120           V
1 -214185         0         0  ...                B        T90           T
2 -214184         0         0  ...                A        E22           E
3 -214181      2342      2881  ...                B        T20           T
4 -214180       428    142157  ...                B        T20           T

[5 rows x 136 columns]

In [11]:
#column definitions here: https://nccs-data.urban.org/dd2.php?close=1&form=DD+Master+Header+v2005b

#name, gross receipts, total expenses
nonprofits = balance_sheet[['NAME', 'GRREC', 'P1TOTEXP']]

In [10]:
nonprofits

                                                      NAME     GRREC  P1TOTEXP
0                                 LUOMALA CHARITABLE TRUST    357143     43768
1                      MABEL CLARA LADD TESTAMENTARY TRUST   1216159     65630
2        THE AMERICAN BRITISH COWDRAY MEDICAL CENTER, I...  82114000  52554916
3                                        STOSIK FOUNDATION     34895      4529
4                                       ARCADIA FOUNDATION   1501572     98824
...                                                    ...       ...       ...
1388475  WAIANAE DISTRICT COMPREHENSIVE HEALTH & HOSPIT...  23019398  22813954
1388476                          THE QUEEN EMMA FOUNDATION  58779049  26098415
1388477                                    PAPA OLA LOKAHI   3920022   3807955
1388478                             Hawaii Baptist Academy   9511843   9398926
1388479                    Hawaiian Community Assets, Inc.    336635    477278

[1388480 rows x 3 columns]